.head-details {
  color: blue;
  background-color: white;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
}

.unorder-details {
  display: flex;
  list-style-type: none;
  margin-top: 50px;
}

.order-deader-details {
  color: black;
  margin-left: 30px;
  font-size: 20px;
}

.text-de {
  text-decoration: underline;
  color: blue;
}
